@import "tailwindcss";

@font-face {
  font-family: "AllianceNo1";
  src: url("/fonts/Degarism Studio - Alliance No.1 Light.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AllianceNo2";
  src: url("/fonts/Degarism Studio - Alliance No.2 Light.otf");
  font-weight: normal;
  font-style: normal;
}

.AllianceNo1 {
  font-family: "AllianceNo1", sans-serif;
}

.AllianceNo2 {
  font-family: "AllianceNo2", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.bg {
  min-height: 100vh;
  min-height: 100dvh;
  padding-bottom: env(safe-area-inset-bottom);
}

:root {
  --purple: #9a53c3;
  --violet: #7556d6;
  --blue: #4169e1;
  background-color: white;
  overflow-x: hidden;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

.magic-text {
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--blue),
    var(--purple)
  );

  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.8));
  background-size: 200%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  white-space: nowrap;

  animation: background-pan 3s linear infinite;
}

/* Hover underling */
.hover-underline {
  color: #111;
  text-decoration: none;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.hover-underline:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #111;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.hover-underline:hover:after { 
  width: 100%; 
  left: 0; 
}

/* Scrollbar styling */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #111;
  border: 2px solid white;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}